# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.o
bin/
dist/

# Go
go.work

# Keys and certificates
*.pem
.certs/

# Logs and output
*.log
*.out
.output/

# Test artifacts
*results*.json
netperf-*.json
netperf-*.csv
image-metadata-*.json
*packetmonitorsupport*/
test-summary

# Build artifacts
.artifacts/

# Documentation site
site/yarn.lock
site/.docusaurus/
site/node_modules/

# IDE and editor
.vscode/
.clangd
.clang-format
