/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

@media only screen and (max-width: 600px) {
  .columns {
    display: flex;
    align-items: center; 
    word-break: break-word;
    padding: 4rem 1.5rem;

} 
.column2 {
  flex-grow: 2; 
  font-size: 0.75rem;
}
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.columns {
    display: flex;
    align-items: center; 
    padding: 4rem 1.5rem;
    word-break: break-word
}

.column1 {
  text-align: center;
  flex: none; 
  width: 33.3333%;
  font-weight: 600; 
  font-size: calc(1rem + 1.8vw);
}

.column2 {
  flex-grow: 2; 
  font-size: calc(1rem + 0.3vw);
}

.paragraph1 {
   margin: 0 0 20px
}

.features {
  display: block;
  margin: 20px auto;
  width: 100%;
  max-width: 926px;
  height: auto;
}