.section {
    font-family: "Urbanist", sans-serif;
    background: #fff;
  }
  
  html[data-theme="dark"] .section {
    background: var(--ifm-background-color);
  }
  
  .section h2 {
    font-size: 32px;
  }
  
  .container {
    max-width: 780px;
    margin: 0 auto;
    padding: 5rem 1rem;
    display: flex;
    gap: 3rem;
  }
  
  @media (max-width: 800px) {
    .container {
      flex-direction: column-reverse;
      align-items: center;
    }
  }
  
  .content p {
    font-size: 20px;
  }
  
  .image {
    height: 312px;
    flex-shrink: 0;
  }
  