name: E2E

on:
  workflow_call:
    inputs:
      image_tag:
        required: true
        type: string
        description: The image tag to use for the E2E tests.
      image_registry:
        required: true
        type: string
        description: The image registry to use for the E2E tests.
      image_namespace:
        required: true
        type: string
        description: The image namespace to use for the E2E tests.
      azure_location:
        required: true
        type: string
        description: The Azure location to use for the E2E tests.
      use_existing_infra:
        required: false
        default: false
        type: boolean
        description: Whether to use existing infrastructure for the E2E tests.
      cluster_name:
        required: false
        type: string
        description: The name of the cluster to use for the E2E tests.
      resource_group:
        required: false
        type: string
        description: The name of the resource group to use for the E2E tests.
    secrets:
      AZURE_CLIENT_ID:
        required: true
        description: The Azure client ID for authentication.
      AZURE_TENANT_ID:
        required: true
        description: The Azure tenant ID for authentication.
      AZURE_SUBSCRIPTION:
        required: true
        description: The Azure subscription ID for authentication.
  
  workflow_dispatch:
    inputs:
      image_tag:
        required: true
        type: string
        description: The image tag to use for the E2E tests.
      image_registry:
        required: true
        type: string
        description: The image registry to use for the E2E tests.
      image_namespace:
        required: true
        type: string
        description: The image namespace to use for the E2E tests.
      azure_location:
        required: false
        type: string
        description: The Azure location to use for the E2E tests.
      use_existing_infra:
        required: false
        default: false
        type: boolean
        description: Whether to use existing infrastructure for the E2E tests.
      cluster_name:
        required: false
        type: string
        description: The name of the cluster to use for the E2E tests. Cluster should be in MS Corp Tenant and Test Subscription
      resource_group:
        required: false
        type: string
        description: The name of the resource group to use for the E2E tests. Resource Group should be in MS Corp Tenant and Test Subscription

permissions:
  contents: read
  id-token: write

jobs:
  e2e:
    name: E2E
    runs-on: ubuntu-latest
    timeout-minutes: 120

    steps:
      - name: Checkout code
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Setup go
        uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6.2.0
        with:
          go-version-file: go.mod
      - run: go version

      - name: Az CLI login
        uses: azure/login@a457da9ea143d694b1b9c7c869ebb04ebe844ef5 # v2.3.0
        with:
          client-id: ${{ secrets.AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.AZURE_TENANT_ID }}
          subscription-id: ${{ secrets.AZURE_SUBSCRIPTION }}

      - name: Run E2E
        env:
          AZURE_SUBSCRIPTION_ID: ${{ secrets.AZURE_SUBSCRIPTION }}
          AZURE_LOCATION: ${{ inputs.azure_location }}
        shell: bash
        run: |
          set -euo pipefail

          if [ "${{ inputs.use_existing_infra }}" = "true" ]; then
            export CLUSTER_NAME=${{ inputs.cluster_name }}
            export AZURE_RESOURCE_GROUP=${{ inputs.resource_group }}
          fi

          go test -v ./test/e2e/. -timeout 60m -tags=e2e -count=1  -args -image-tag=${{ inputs.image_tag }} -image-registry=${{ inputs.image_registry }} -image-namespace=${{ inputs.image_namespace }} -create-infra=${{ !inputs.use_existing_infra }} -delete-infra=${{ !inputs.use_existing_infra }}
      