name: golangci-lint
on:
  merge_group:
  workflow_dispatch:
  push:
    branches: [main]
  pull_request:
    branches: [main]
jobs:
  golangci:
    strategy:
      fail-fast: false
      matrix:
        goos: ["linux", "windows"]
        goarch: ["amd64", "arm64"]
    name: Lint
    runs-on: ubuntu-latest
    env:
      IS_NOT_MERGE_GROUP: ${{ github.event_name != 'merge_group' }}
      GOOS: ${{ matrix.goos }}
      GOARCH: ${{ matrix.goarch }}
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        if: env.IS_NOT_MERGE_GROUP
        with:
          fetch-depth: 0
      - uses: actions/setup-go@44694675825211faa026b3c33043df3e48a5fa00 # v6.0.0
        if: env.IS_NOT_MERGE_GROUP
        with:
          go-version-file: go.mod
      - name: golangci-lint
        if: env.IS_NOT_MERGE_GROUP
        uses: golangci/golangci-lint-action@v9
        with:
          version: latest
          args: --concurrency 4 --verbose --config=.golangci.yaml --timeout=25m
          only-new-issues: true
          skip-cache: true
