name: golangci-lint
on:
  merge_group:
  workflow_dispatch:
  push:
    branches: [main]
  pull_request:
    branches: [main]
jobs:
  golangci:
    strategy:
      fail-fast: false
      matrix:
        goos: ["linux", "windows"]
        goarch: ["amd64", "arm64"]
    name: Lint
    runs-on: ubuntu-latest
    env:
      IS_NOT_MERGE_GROUP: ${{ github.event_name != 'merge_group' }}
      GOOS: ${{ matrix.goos }}
      GOARCH: ${{ matrix.goarch }}
      CGO_ENABLED: 0
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        if: env.IS_NOT_MERGE_GROUP
        with:
          fetch-depth: 0
      - uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6.1.0
        if: env.IS_NOT_MERGE_GROUP
        with:
          go-version-file: go.mod
      - name: golangci-lint
        if: env.IS_NOT_MERGE_GROUP
        uses: golangci/golangci-lint-action@v9
        with:
          version: latest
          args: --concurrency 4 --verbose --config=.golangci.yaml --timeout=25m
          only-new-issues: true
          skip-cache: true
