name: Build and Push Kapinger Image

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set outputs
        id: vars
        run: echo "sha_short=$(git rev-parse --short HEAD)" >> $GITHUB_OUTPUT
      - name: Check outputs
        run: echo ${{ steps.vars.outputs.sha_short }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1

      #      - name: Login to GitHub Container Registry
      #        uses: docker/login-action@v1
      #        with:
      #          registry: ghcr.io
      #          username: ${{ github.repository_owner }}
      #          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build Windows Kapinger Image
        uses: docker/build-push-action@v2
        with:
          context: hack/tools/kapinger
          file: hack/tools/kapinger/Dockerfile.windows
          platforms: windows/amd64
          push: false
          provenance: false
          tags: ghcr.io/${{ github.repository }}/kapinger:${{ steps.vars.outputs.sha_short }}-windows

      - name: Build Linux Kapinger Image
        uses: docker/build-push-action@v2
        with:
          context: hack/tools/kapinger
          file: hack/tools/kapinger/Dockerfile
          platforms: linux/amd64
          push: false
          provenance: false
          tags: ghcr.io/${{ github.repository }}/kapinger:${{ steps.vars.outputs.sha_short }}-linux

      - name: Build Linux Toolbox Image
        uses: docker/build-push-action@v2
        with:
          context: hack/tools
          file: hack/tools/toolbox/Dockerfile
          platforms: linux/amd64
          push: false
          provenance: false
          tags: ghcr.io/${{ github.repository }}/toolbox:${{ steps.vars.outputs.sha_short }}-linux
#      - name: Create and push manifest
#        id: docker_manifest
#        run: |
#          docker manifest create ghcr.io/${{ github.repository }}/kapinger:latest ghcr.io/${{ github.repository }}/kapinger:${{ steps.vars.outputs.sha_short }}-windows ghcr.io/${{ github.repository }}/kapinger:${{ steps.vars.outputs.sha_short }}-linux
#          docker manifest push ghcr.io/${{ github.repository }}/kapinger:latest
