name: Markdown Lint
on:
  merge_group:
  pull_request:
    branches: [main]
jobs:
  markdownlint:
    if: ${{ github.event_name != 'merge_group' }}
    name: markdownlint
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
      - uses: DavidAnson/markdownlint-cli2-action@v9
        with:
          command: config
          globs: |
            .github/.markdownlint.json
            **/*.md
