name: Markdown Lint
on:
  merge_group:
  pull_request:
    branches: [main]
    paths:
      - '**/*.md'

permissions:
  contents: read

jobs:
  markdownlint:
    if: ${{ github.event_name != 'merge_group' }}
    name: markdownlint
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - name: Checkout repository
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - uses: DavidAnson/markdownlint-cli2-action@07035fd053f7be764496c0f8d8f9f41f98305101 # v22.0.0
        with:
          command: config
          globs: |
            .github/.markdownlint.json
            **/*.md
