name: Markdown Lint
on:
  merge_group:
  pull_request:
    branches: [main]
jobs:
  markdownlint:
    if: ${{ github.event_name != 'merge_group' }}
    name: markdownlint
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - uses: DavidAnson/markdownlint-cli2-action@v16
        with:
          command: config
          globs: |
            .github/.markdownlint.json
            **/*.md
