name: Network Performance Measurement on Schedule

on:
  schedule:
    # This is a cron expression that runs at 00:17 and 12:17 UTC
    - cron: '17 */12 * * *'

permissions:
  contents: read
  id-token: write

jobs:
  steps:
      - name: Set lowercase repo name
        run: echo "REPO=${{ toLower(github.repository) }}" >> $GITHUB_ENV
  perf-test-basic:
    uses: ./.github/workflows/perf-template.yaml
    with:
      image-registry: ghcr.io
      tag: $(curl -s https://api.github.com/repos/${{ env.REPO }}/releases/latest | jq -r .tag_name)
      image-namespace: ${{ env.REPO }}
      retina-mode: basic
      azure-location: ${{ vars.AZURE_LOCATION }}
    secrets:
      azure-subscription: ${{ secrets.AZURE_SUBSCRIPTION }}
      azure-tenant-id: ${{ secrets.AZURE_TENANT_ID }}
      azure-client-id: ${{ secrets.AZURE_CLIENT_ID }}
      azure-app-insights-key: ${{ secrets.AZURE_APP_INSIGHTS_KEY }}

  perf-test-advanced:
    uses: ./.github/workflows/perf-template.yaml
    with:
      image-registry: ghcr.io
      tag: $(curl -s https://api.github.com/repos/${{ env.REPO }}/releases/latest | jq -r .tag_name)
      image-namespace: ${{ env.REPO }}
      retina-mode: advanced
      azure-location: ${{ vars.AZURE_LOCATION }}
    secrets:
      azure-subscription: ${{ secrets.AZURE_SUBSCRIPTION }}
      azure-tenant-id: ${{ secrets.AZURE_TENANT_ID }}
      azure-client-id: ${{ secrets.AZURE_CLIENT_ID }}
      azure-app-insights-key: ${{ secrets.AZURE_APP_INSIGHTS_KEY }}
