name: Test Multicloud

on:
  pull_request:
    paths:
      - 'test/multicloud/**'

jobs:
  multicloud-test:
    runs-on: ubuntu-latest

    steps:
    - uses: opentofu/setup-opentofu@v1
      with:
        tofu_version: 1.8.3

    - name: Checkout code
      uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1

    - name: Set up Go
      uses: actions/setup-go@44694675825211faa026b3c33043df3e48a5fa00 # v6.0.0
      with:
        go-version-file: go.mod

    - name: Install dependencies
      run: go mod download
      working-directory: test/multicloud/

    - name: Run tests
      run: make test
      working-directory: test/multicloud/