name: Test Multicloud

on:
  pull_request:
    paths:
      - 'test/multicloud/**'

permissions:
  contents: read

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  multicloud-test:
    runs-on: ubuntu-latest
    timeout-minutes: 30

    steps:
    - uses: opentofu/setup-opentofu@9d84900f3238fab8cd84ce47d658d25dd008be2f # v1.0.8
      with:
        tofu_version: 1.8.3

    - name: Checkout code
      uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

    - name: Set up Go
      uses: actions/setup-go@4b73464bb391d4059bd26b0524d20df3927bd417 # v6.3.0
      with:
        go-version-file: go.mod

    - name: Install dependencies
      run: go mod download
      working-directory: test/multicloud/

    - name: Run tests
      run: make test
      working-directory: test/multicloud/
